 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/551324506-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 169px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 39px auto 0 -7px;
}

.u-section-1 .u-text-3 {
  margin: 77px 0 8px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 926px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 70px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 458px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 721px;
  margin: 58px 0 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 628px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 60px 0 112px;
}

.u-section-2 .u-icon-1 {
  width: 81px;
  height: 81px;
  background-image: none;
  margin: -64px auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -7px 30px 0 112px;
}

.u-section-2 .u-text-4 {
  margin: 24px 2px 0 112px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 60px 0 112px;
}

.u-section-2 .u-icon-2 {
  width: 81px;
  height: 81px;
  background-image: none;
  margin: -64px auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -7px 30px 0 112px;
}

.u-section-2 .u-text-7 {
  margin: 24px 2px 0 112px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 60px 0 112px;
}

.u-section-2 .u-icon-3 {
  width: 81px;
  height: 81px;
  background-image: none;
  margin: -64px auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -7px 30px 0 112px;
}

.u-section-2 .u-text-10 {
  margin: 24px 2px 0 112px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 638px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 15px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 15px;
    margin-left: 123px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 15px;
    margin-left: 123px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 60px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -66px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 5px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 60px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -66px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 5px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 60px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -66px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 5px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 36px;
    margin-left: 112px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -64px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 36px;
    margin-left: 112px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -64px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 36px;
    margin-left: 112px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -64px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 2px;
    margin-right: 116px;
    margin-left: 102px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -81px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 4.5rem;
    margin-top: 2px;
    margin-right: 116px;
    margin-left: 102px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -81px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 4.5rem;
    margin-top: 2px;
    margin-right: 116px;
    margin-left: 102px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -81px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 56px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 .u-sheet-1 {
  min-height: 404px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}